name: Build Docker Container

on:
  push:
    branches:
      - main

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout source code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Set up Docker
      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      # Step 3: Build Docker image
      - name: Build Docker image
        run: |
          docker build -t my-apache2-image .

      # Step 4: Verify Docker image
      - name: List Docker images
        run: docker images

      # Step 5: Run Docker container
      - name: Run Docker container
        run: |
          docker run -d -p 8080:80 --name my-apache2-container my-apache2-image
